$black: #222222;
$light-pink: #F1E4E6;
$pink: #F16D7F;
$dark-pink: rgb(201, 94, 112);
$sweet-pink: rgb(240, 167, 179);
$hat-pink: #F8F3F4;
$white: #FFFFFF;
$grey: #9F9F9F;
$grey-ligth: #F8F8F8;

$font-lato: 'Lato',
sans-serif;

$tablet-width: 1280px;
$mobil-width: 767px;