.footer__down {
    background-color: $black;

    .control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 79px;
    }

    .reserved__text {
        font-family: $font-lato;
        @include font(16px, 19px);
        color: $white;
    }

    .social__list {
        @include flex-center();
    }
}