.footer__up {
    background: url(../image/surfing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 87px;
    padding-bottom: 128px;

    .footer__up-form {
        display: flex;
        justify-content: space-between;
    }

    .review {
        width: 360px;
        text-align: center;
    }

    .review__descr {
        font-family: $font-lato;
        @include font(20px, 24px, 400, italic);
        color: $black;
        padding-top: 35px;
    }

    .subscr {
        width: 557px;
        text-align: center;
        position: relative;
    }

    .subscr__title {
        padding-top: 40px;
        font-family: $font-lato;
        @include font(24px, 38px, 700);
        text-transform: uppercase;
        color: $black;
    }

    .subscr__text {
        font-family: $font-lato;
        @include font(18px, 30px, 300);
        text-transform: uppercase;
        padding-bottom: 40px;
    }

    .subscr__mail {
        border: none;
        width: 352px;
        height: 47px;
        border-radius: 30px;
        padding-left: 22px;
    }

    input::placeholder {
        font-family: $font-lato;
        @include font(13px);


    }

    .subscr__button {
        background-color: $pink;
        width: 100px;
        height: 49px;
        border: none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        position: absolute;
        left: 65.5%;
    }

    .subscr__descr {
        color: $white;
        font-family: $font-lato;
        @include font();
        align-items: center;
        text-align: center;
    }
}