.sales {
    margin-top: 63px;

    .sales__list {
        /*display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2, 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;*/
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobil {
            display: block;
        }
    }

    .sales__item {
        /*text-align: center;
        height: 240px;
        width: 360px;*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include flex-center();
        width: 30%;
        min-height: 260px;
        margin-bottom: 40px;


        @include tablet {
            min-height: 168px;
            margin-bottom: 25px;
        }

        @include mobil {
            width: 92%;
            height: 247px;
            margin-bottom: 32px;
        }
    }

    .sales__item-woman {
        background: url(../image/women.jpg);
    }

    .sales__item-men {
        background: url(../image/men.jpg);
    }

    .sales__item-kids {
        background: url(../image/kids.jpg);
    }

    .sales__item-acces {
        background: url(../image/accesories.jpg);
        min-height: 180px;
        width: 100%;

        /*grid-column: span 3;
        grid-row: span 2;*/
        @include tablet {
            min-height: 116px;
        }

        @include mobil {
            width: 93%;
            height: 111px;
        }
    }

    .sales__text {
        font-family: $font-lato;
        @include font(16px, 19px);
        text-transform: uppercase;
        color: $white;
    }

    .sales__item-title {
        font-family: $font-lato;
        @include font(24px, 29px, 700);
        text-transform: uppercase;
        color: $pink;
    }
}